#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fbfdf2; /* Cor de fundo do site */
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  z-index: 1000;
}

main {
  margin-top: 80px; /* Ajuste conforme a altura do header */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

